<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Main</title>
</head>
<body>
    <h3>Main</h3>
    <h4>Для продолжения выполните <a href="http://localhost:1337/users/enter">вход</a></h4>
</body>
</html>