/* -----  google Font  -----*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-image: url('belaz.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}

.back{
    background-color: #fff;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    width: 240px;
}

#info {
    background-color: rgb(254, 151, 54);
    display: none;
    padding: 30px 20px 20px;
    color: #6f4101;
}

/* -----  ¬ыравнивание по середине  -----*/
.dws-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.dws-form {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
}
    .dws-form div {
        background-color: #fff;
        padding-left: 15px;
    }

    .dws-form a {
        text-decoration: none;
        transition: .5s;
        color: #2962ad;
        cursor: pointer;
    }

        .dws-form a:hover {
            color: #3694ff;
        }

    .dws-form ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .dws-form input {
        display: block;
        width: 100%;
    }

.tab-form {
    background-color: #fff;
    display: none;
    padding: 30px 20px 10px;
}

    .tab-form.active,
    #tab-1:checked ~ #form-1,
    #tab-2:checked ~ #form-2 {
        display: block;
    }

label.tab {
    color: #ffffff;
    font-weight: 600;
    padding: 15px;
    display: inline-block;
    border-radius: 3px 3px 0 0;
    margin-bottom: -1px;
    cursor: pointer;
}

    label.tab.active,
    input[name="tabs"]:checked + label {
        background-color: #fff;
        color: #2944ad;
    }

input[name="tabs"] {
    display: none;
}

/* »конки во вкладках */
.tab::before {
    content: '\f090';
    font-family: 'FontAwesome', sans-serif;
    font-size: 24px;
    margin-right: 11px;
    font-weight: normal;
}

.tab[for*='2']::before {
    content: '\f234';
}

/* ‘ормы */
.input {
    font-size: 16px;
    border: 2px solid #e9eaea;
    padding: 12px 14px;
    box-sizing: border-box;
    margin-bottom: 22px;
    color: #2962ad;
    outline: none;
}

::-webkit-input-placeholder {
    color: #c4c9c9;
}
/* webkit */
::-moz-placeholder {
    color: #298cad;
}
/* Firefox 19+ */
:-moz-placeholder {
    color: #298cad;
}
/* Firefox 18- */
:-ms-input-placeholder {
    color: #298cad;
}
/* IE */

/* ѕлавающий текст */
.box-input {
    position: relative;
}

    .box-input input {
        border: none;
        border-bottom: 2px solid #e9eaea;
        padding: 10px 0;
    }

    .box-input label {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 10px;
        color: #c4c9c9;
        transition: .5s;
        pointer-events: none;
    }

    .box-input input:focus ~ label,
    .box-input input:valid ~ label {
        top: -20px;
        font-size: 12px;
        color: #3694ff;
    }

/* Ёффект кнопки */
a.button {
    background: #2944ad;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    line-height: 46px;
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-bottom: 4px solid #36d2ff;
}

    a.button:hover {
        color: #ffffff;
    }

.button::before, .button::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #2962ad;
    position: absolute;
    top: 0;
    left: -100%;
    transition: .3s;
    z-index: -1;
}

.button::after {
    background: #3694ff;
    top: 100%;
    left: 0;
    transition-delay: .2s;
}

.button:hover::before {
    left: 0;
}

.button:hover::after {
    top: 0;
}
